@import url("/style/nav_footer.css");

.body {
  background-color: rgb(189, 195, 195);
}

#home {
  img {
    width: 100%;
  }
}
#home-slide {
  margin: 0 5%;
  font-size: 20px;

  .carousel-inner {
    padding: 3rem;
  }

  .cards-wrapper {
    display: flex;
    align-items: center;

    .card {
      margin: 0 auto;
      width: calc(100% / 5);
      text-align: center;
      border: none;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 6vh;
    height: 6vh;
    background-color: rgb(244, 231, 215);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
  }
}
#home-products {
  margin: 5%;

  .row {
    margin-bottom: 5%;

    .card {
      border: none;

      p {
        color: #175252;
        font-weight: 600;
      }
      img {
        width: 100%;
        height: 230px;
        border-radius: 5%;
      }
    }
  }
}
#allProducts {
  height: 130px;
  background-color: #eac556;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 24px;
    color: #175252;
  }
  a {
    background-color: #175252;
    border: none;
    padding: 5px 20px;
    font-size: 19px;
    font-weight: 500;
  }
}
#home-mission {
  width: 100%;
  padding: 0 10%;
  margin: 5% 0;
  display: flex;
  justify-content: space-evenly;

  .homeMis-img img {
    width: 450px;
    height: 450px;
  }

  .homeMis-text {
    width: 500px;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 30px 0;
  }

  button {
    margin-bottom: 10%;
    color: #175252;
    background-color: transparent;
    border: solid 2px #175252;
    border-radius: 5%;
  }

  button:hover {
    background-color: #175252;
    color: azure;
  }
}
#home-testim {
  width: 100%;
  padding: 5% 15%;
  margin: 3% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .homeTest-img img {
    width: 450px;
    height: 450px;
  }

  .homeTest-text {
    width: 330px;
    height: 350px;
    font-size: 20px;
    text-align: center;
    position: relative;
  }

  button {
    margin-bottom: 10%;
    color: #175252;
    background-color: transparent;
    border: solid 2px #175252;
    border-radius: 5%;
  }

  button:hover {
    background-color: #175252;
    color: azure;
  }
}
